@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --gold: #d4a514;
  --gold-hover: #bd920f;

  --black: #050505;
  --white: #ffffff;
  --gray: #777777;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}